{% extends 'weansgames/base.html' %} {% load static %} {% block content_block %}
<title>About us</title>
<div class="container" style="padding-bottom: 8%; padding-top: 5%">
  <div class="row mt-4">
    <div class="col-md-8">
      <h3 style="font-weight: bold; color: #894fbf">About us</h3>
      <h3 style="font-weight: bold; color: #894fbf">Our Vision</h3>
      <h4>
        We raise funds to help those who tirelessly care for and nurture young
        lives at their most vulnerable; to invest in equipment, research and the
        continued improvement of facilities and services for children and
        families in hospital.
      </h4>
      <h3 style="font-weight: bold; color: #894fbf">History</h3>
      <h4>
        Everyone has a Yorkhill story to share, and we're proud to share ours!
        Founded in 2001, Glasgow Children's Hospital Charity (formerly known as
        Yorkhill Children's Charity) was established to support children and
        their families treated at Glasgow's Royal Hospital for Sick Children -
        Yorkhill.
      </h4>
    </div>
    <div class="col-6 col-md-4">
      <img src="{%static 'images/image2.png'%}" class="img-fluid" alt="..." />
    </div>
  </div>
</div>
{% endblock %}
