{% extends 'weansgames/base.html' %} {% load static %} {% block content_block %}
{% load crispy_forms_tags %}
<title>Add Genre</title>
<h1 style="text-align: center; padding-top: 5%; color: #894fbf">Add genre</h1>
<div class="container" style="padding-top: 5%; padding-bottom: 15%">
  <div class="col mb-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        {% if registered %}<p class="fs-4 text-success">Added genre!</p>  {% endif %}
        <form
          id="genre_form"
          method="post"
          action="{% url 'tournaments:add_genre' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          {{ genre_form.name.error}}
          {{ genre_form.name |as_crispy_field}}
          <!--<input type="submit" name="submit" value="Add Genre" />-->
          <button
            type="submit"
            value="Add Genre"
            class="btn btn-primary btn-block mb-4"
          >
            Add Genre
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
