{% extends 'weansgames/base.html' %}{% block content_block %}

<div class="container" style="padding-top: 15%; padding-bottom: 15%">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="card shadow bg-white rounded">
        <div class="card-body">
          <h3 class="card-title" style="color: #894fbf">What Are We About</h3>
          <h4 class="card-text">
            The campaign is raising funds to buy adapted gaming equipment,
            consoles and video games for the boys and girls at the children's
            hospital in Glasgow. Fundraising will also support the hospital's
            Play Team - so that children in hospital always have someone to play
            with.
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h3 class="card-title" style="color: #894fbf">
            Why Volunteer In Tournaments
          </h3>
          <h4 class="card-text">
            Volunteering as a gamer for a kids' hospital is a genuinely
            meaningful undertaking. It allows you to provide much-needed
            entertainment and distraction to young patients facing health
            challenges.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
